/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.nav-item {
  &.active {
    border-bottom: 1px solid cornflowerblue;
    font-weight: bold;
  }
}
a.nav-link {
  cursor: pointer;
}
